---
const { pathname } = Astro.url;

import logo from "/src/assets/shared/logo.svg";
import hamburgerIcon from "/src/assets/shared/icon-hamburger.svg";
import closeIcon from "/src/assets/shared/icon-close.svg";

const pageUrls = [
  { path: "/", name: "Home" },
  { path: "/destination", name: "Destination" },
  { path: "/crew", name: "Crew" },
  { path: "/technology", name: "Technology" },
];
---

<header
  class="flex justify-between items-center max-w-screen-2xl fixed top-0 left-1/2 -translate-x-1/2 w-full z-40 p-6 md:p-0 md:pl-10 md:gap-7 xl:pt-8 xl:pl-20 xl:gap-0"
>
  <img src={logo.src} alt="logo" class="shrink-0 w-10 h-10 md:w-12 md:h-12" />

  <span class="w-full h-[1px] bg-white/30 ml-20 hidden xl:block"></span>

  <nav
    id="nav"
    class="absolute h-screen right-0 hidden top-0 z-50 w-3/4 md:block md:h-max md:static md:w-max"
  >
    <div
      class="flex h-full flex-col gap-8 pt-32 p-10 pr-0 bg-slate-600/30 backdrop-blur-xl md:p-0 md:flex-row md:gap-10 md:justify-end md:px-10 md:pl-20 xl:px-20 xl:pl-52 xl:gap-16"
    >
      {
        pageUrls.map((url, index) => (
          <a
            href={url.path}
            class={`text-white font-sans-codensed tracking-[2px] relative after:absolute after:top-0 after:h-full after:w-[2px] after:bg-white after:right-0 md:after:top-[auto] md:after:bottom-0 md:after:h-[3px] md:after:w-full md:py-9 md:w-max text-nowrap flex gap-3 ${pathname === url.path ? "after:block" : "after:hidden"}`}
          >
            <span class="font-bold">0{index}</span>
            <span class="uppercase">{url.name}</span>
          </a>
        ))
      }
    </div>
  </nav>

  <button
    id="nav_open_button"
    class="relative z-50 shrink-0 md:hidden"
    data-pressed="false"
    ><img
      src={hamburgerIcon.src}
      width={hamburgerIcon.width}
      height={hamburgerIcon.height}
      alt="toggle"
    />
    <span class="sr-only">close navigation</span>
  </button>

  <button
    id="nav_close_button"
    class="relative hidden shrink-0 z-50 md:hidden"
    data-pressed="false"
    ><img
      src={closeIcon.src}
      width={closeIcon.width}
      height={closeIcon.height}
      alt="toggle"
    />
    <span class="sr-only">close navigation</span></button
  >
</header>

<script type="module">
  const navOpenButton = document.getElementById("nav_open_button");
  const navCloseButton = document.getElementById("nav_close_button");
  const nav = document.getElementById("nav");

  navOpenButton?.addEventListener("click", () => {
    nav?.classList.remove("hidden");
    navCloseButton?.classList.remove("hidden");
    navOpenButton.classList.add("hidden");
  });

  navCloseButton?.addEventListener("click", () => {
    nav?.classList.add("hidden");
    navCloseButton?.classList.add("hidden");
    navOpenButton?.classList.remove("hidden");
  });
</script>
